{% extends "base.html" %}

{% block content %}
<h1>My Blog Login</h1>
<form action="" method="POST">{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Log In"></p>
</form>


<!-- <h1>My Blog Loggoo</h1>
<form action="" method="POST"><input type="hidden" name="csrfmiddlewaretoken"
        value="GKoAmrgz5eqzNRphbf9cU0l6HNnMKJfa2ID5YjemROFVR1Wqclj0ij9pfIbWm7Aq">
    <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus autocapitalize="none"
            autocomplete="username" maxlength="150" required id="id_username"></p>
    <p><label for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password"
            required id="id_password"></p>
    <p><input type="submit" value="Log In"></p>
</form> -->





{% endblock %}